blinker
boto3
botocore
branca
certifi
charset-normalizer
click
config
Flask
Flask-Login
Flask-SQLAlchemy
folium
greenlet
gunicorn
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
numpy
opencv-python
packaging
Pillow
python-dateutil
python-dotenv
pytz
requests
s3transfer
six
SQLAlchemy
typing_extensions
tzdata
urllib3
Werkzeug
