<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}" type="image/png">
	<link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png') }}" type="image/png">
	<script src="https://unpkg.com/htmx.org@1.9.4"></script>
	<title>Home</title>
</head>
<body class="home" background="{{ url_for('static', filename='images/background.jpg') }}">


<div class="row">
	<div class="col-md-4 col-sm-12 homeDiv">
		<div class="container-fluid">
			<div style="display: flex;
	                        flex-direction: column;
	                        justify-content: space-around; /* or justify-content: space-evenly; */
	                        height: 80vh;">
				<h1 class="text-center smallScrn">The Eccentric Toad</h1>
				<h1 class="text-center normalScrn">About this page</h1>
				<p class="text-center">This is just a page describing some of my software skills, I will explain what I
					can do
					but this page is predominately written using Python. I am however proficient in other languages
					too.</p>
				<p class="text-center">Feel free to enter and look around.</p>
				<a href="{{ url_for('views.index') }}" style="color: white; " class="text-center">
					<button class="btn btn-outline-light enterBtn insideDiv">Enter Site</button>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<h1 class="text-center mainH1" style="color: white; font-weight: bold;">The Eccentric Toad</h1>
		
		<br><br>
		<div class="intro">
			<p style="color: white">
				The Western Cape Leopard Toad (Sclerophrys pantherina), a unique and charismatic amphibian, finds its
				habitat in the southwestern corner of South Africa. Its name, derived from its distinctive spotted
				pattern
				reminiscent of a leopard's coat, immediately captures attention. This toad's appearance serves as
				camouflage
				within its natural habitat, including fynbos vegetation and sandy soils.
				<br><br>
				
				Endemic to the Western Cape province, this species is limited to a coastal strip stretching from Cape
				Town
				to the Agulhas Plain. Breeding occurs during winter in temporary pools, where tadpoles hatch from eggs
				and
				undergo metamorphosis into juvenile toads. Adult toads migrate to these breeding sites, often traversing
				roads and suburban areas.
				<br><br>
				Conservation efforts have been imperative to safeguard the Western Cape Leopard Toad, as it faces
				threats
				from urbanization, pollution, and road mortality. Its "Vulnerable" status on the IUCN Red List
				underscores
				the need for protection and habitat preservation. Beyond its ecological importance, this toad holds
				cultural
				significance in the region, inspiring art, literature, and community festivals.
				<br><br>
				In conclusion, the Western Cape Leopard Toad stands as a symbol of the region's unique biodiversity.
				Preserving its habitat and mitigating threats are essential to ensure the continued existence of this
				captivating amphibian and to celebrate its role in South African culture and ecology.
			</p>
		</div>
	</div>
	<div class="col-md-1 col-sm-0">
	
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>