{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 45px;">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<h1 class="text-center mainH1" style="margin-top: 30px; color: white">About me</h1>
			<div style="display:flex; justify-content: center;" class="meImg">
				<img src="{{ url_for('static', filename='images/me.jpeg') }}" class="img-fluid text-center mainH1"
				     style="border-radius: 5%; margin-top: 30px; margin-bottom: 30px;">
			</div>
			<p class="text-center" style="color: white">

				<strong>This is not meant to be a CV or Resume, but rather a brief description of my later experience in Python. This page needs to be more mobile friendly.</strong>
				<br><br>
				<a href="https://github.com/WayneBruton/flaskPersonal/" target="_blank" style="color: white; text-decoration: underline; color: yellow;">Source Code</a>
				<br><br>
				<a href="mailto: waynebruton@icloud.com" style="color: white; text-decoration: underline; color: yellow;">Email me</a>
				
			</p>
			<br/>
			<h4 class="text-center" style="color: white"><strong>Early life</strong></h4>
			<br/>
			<p class="text-center" style="color: white">I was born on 30 April 1966.during my early years we moved a lot
				due to my father's business needs and I effectively lived in Johannesburg, East London, Durban, Cape
				Town and again Johannesburg, all by the time I started High School.</p>
			<p class="text-center" style="color: white">In High School I went to boarding school, namely <a
					href="https://queenscollege.co.za" target="_blank">Queen's College</a> in the Eastern Cape. It is
				there I met some of the best friends anyone could have. After matriculating at the end of 1983, I went
				nd did my national service for two years. Once again, I met great buddies, one of whom is possibly the
				best mate any guy could have and now lives in Canada.</p>
			<p class="text-center" style="color: white">After leaving the army, what to do?</p>
			<p class="text-center" style="color: white">I decided to go to university and study a BCom. I went to the <a
					href="https://www.wits.ac.za/" target="_blank">University of the Witwatersrand (WITS)</a> and
				studied for three years. I was not the best student, but I did pass and get my degree. Thereafter, I
				completed my Honours degree in finance at The university of South Africa (Unisa).</p>
			
			<br/>
			<h4 class="text-center" style="color: white"><strong>Work</strong></h4>
			<br/>
			<p class="text-center" style="color: white">I spent many years working for various companies in the role of
				Financial Manager.</p>
			<p class="text-center" style="color: white">I was never really happy or satisfied but then oneday quite by
				accident I discovered programming (Or Coding). As the financial manager for a group of companies,
				I asked my IT manager to create some reports for me, I was informed it is not possible, I did not
				believe that and as a result taught myself how to code.
				<br/><br>
				That was the start of my journey into the world of coding. I have never looked back and have never
				regretted my decision to change careers. I was fortunate enough to be able to work for a company that
				allowed me to code as my full-time job and I have never looked back.
				<br/><br>
				<strong>My Aspirations:</strong> To be 100% remote and to be able to work from anywhere in the
				world.
<!--				<br/><br>-->
<!--				<strong>Goal Date:</strong> Early 2024-->
				
				<br/><br>
				I have since gained a lot of experience in various languages and technologies such as:
			
			</p>
			<br/>
			<div  style="padding:0% 20%;width: 100%">
			<ol>
				<li class="title">Back End</li>
				<ol>
					<li>Python 3</li>
					<li>Flask</li>
					<li>FastApi</li>
					<li>NodeJS</li>
					<li>Express</li>
				</ol>
				<li class="title">Front End</li>
				<ol>
					<li>VueJS</li>
					<li>Jinja2</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Bootstrap</li>
					<li>jQuery</li>
				</ol>
				<li class="title">Database</li>
				<ol>
					<li>SQL</li>
					<li>PostgreSQL</li>
					<li>MySQL</li>
					<li>SQLite</li>
					<li>MS SQL</li>
					<li>Mongo DB</li>
				</ol>
				<li class="title">Other</li>
				
				<ol>
					<li>Git</li>
					<li>GitHub</li>
					<li>Heroku</li>
					<li>CPanel</li>
					<li>Plotly Dash</li>
				</ol>
				<li>and more...</li>
			</ol>
			</p>
		
		
		</div>
		<div class="col-2"></div>
	</div>
</div>
{% endblock %}