{% extends "base.html" %}

{% block title %}Next Up{% endblock %}

{% block content %}
<br>
<br>
<br>
<h3 class="text-center" style="color: white">Next Up</h3>
<br>
<br>
<div style="padding:0% 40%;">
	<ol>
		<li class="title">Future Shows</li>
		<ol>
			<li>CRUD</li>
			<li>Uploading Files</li>
			<li>Save Data to MS Excel</li>
			<li>Save Data to PDF</li>
			<li>You tell me....</li>
		</ol>
	</ol>
</div>
<br>
<br>
<div style="padding:0% 40%;">
	<p style="color:white;"> Contact me: <a href="mailto:waynebruton@icloud.com"
	                                        style="color: yellow; text-decoration: underline;">
		Let me
		Know</a></p>
</div>


{% endblock %}

