{% extends "base.html" %}

{% block title %}Next Up{% endblock %}

{% block content %}
<br>
<br>
<br>
<h3 class="text-center" style="color: white">Next Up</h3>
<br>
<br>
<div style="display: flex; justify-content: center;">
	<a class="text-center" href="https://github.com/WayneBruton/flaskPersonal/" target="_blank"
	   style="color: white; text-decoration: underline; color: yellow;">Source Code</a>
</div>
<br>
<br>
<div style="padding:0% 40%; padding-left: 20%;">
	<p style="color: white;">THIS PAGE TOO COULD BE MORE MOBILE FRIENDLY.</p>
	<ol>
		<li class="title">Future Thoughts</li>
		<ol>
			<li style="text-decoration: line-through;">Suduku Solver</li>
			<li style="text-decoration: line-through;">CRUD - uploading files to AWS S# and saving details to a DB</li>
			<li style="text-decoration: line-through;">Uploading Files to server</li>
			<li style="text-decoration: line-through;">Display a map using Folium</li>
			<li>Place markers dynamically on the map as well insert your own coordinates to display.</li>
			<li>Save Data to MS Excel</li>
			<li>Save Data to PDF using FPDF</li>
			<li style="text-decoration: line-through;">Image Manipulation using openCV</li>
			<li>Dashboard with data visualization</li>
			<li>Feedback section</li>
			<li>Machine Learning</li>
			<li>You tell me in the feedback section (Coming soon)....</li>
		</ol>
	</ol>
</div>
<br>
<br>
<div style="padding:0% 40%;">
	<p style="color:white;"> Contact me: <a href="mailto:waynebruton@icloud.com"
	                                        style="color: yellow; text-decoration: underline;">
		Let me
		Know</a></p>
</div>


{% endblock %}

