{% extends "base.html" %}

{% block title %}Sudoku{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<h1 class="text-center" style="color: white;">Sudoku Solver</h1>

<br/><br>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<br/><br>
		<a href="https://github.com/WayneBruton/flaskPersonal/" target="_blank"
		   style="color: white; text-decoration: underline; color: yellow;">Source Code</a>
		<br/><br>
		<p class="text-center" style="color: white;">This is a simple Sudoku Solver. Simply key in the set numbers and
			click "Solve the puzzle". Click a square, and it increments from blank to 1 to 2 to 3 etc. Depending on the
			number of
			clicks. It goes from 9 to blank and the cycle repeats itself.<br><br>
			<strong><u>What I did:</u></strong>
			I created a simple algorithm to solve a Sudoku puzzle. I used a simple recursion algorithm. I created a
			2-dimensional array to hold the values. I never really liked what I saw on other sites, so I decided to
			create my own. I used a simple Div and button to create the grid (81 in total). I used CSS to
			make it look pretty. I used JavaScript to make it work. I used Flask to make it work on the
			server. I have used Heroku to host it and I use Git to push it to Heroku.
			<br><br>
			<strong><u>Improvements I should do:</u></strong> If the puzzle is not solvable, it should tell you. If
			there is
			more than one solution, it should tell you. If there is only one solution, it should tell you. I should
			also prevent a number being selectable if it is already in the row, column or 3x3 square.
		</p>
	</div>
	<div class="col-2"></div>
</div>
<br/>

<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell">
				<button class="sBtn row0 col0 sq0" id="btn00" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row0 col1 sq0" id="btn01" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row0 col2 sq0" id="btn02" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row0 col3 sq1" id="btn03" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row0 col4 sq1" id="btn04" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row0 col5 sq1" id="btn05" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row0 col6 sq2" id="btn06" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row0 col7 sq2" id="btn07" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row0 col8 sq2" id="btn08" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell">
				<button class="sBtn row1 col0 sq0" id="btn10" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row1 col1 sq0" id="btn11" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row1 col2 sq0" id="btn12" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row1 col3 sq1" id="btn13" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row1 col4 sq1" id="btn14" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row1 col5 sq1" id="btn15" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row1 col6 sq2" id="btn16" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row1 col7 sq2" id="btn17" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row1 col8 sq2" id="btn18" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell sudoku63">
				<button class="sBtn row2 col0 sq0" id="btn20" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku63">
				<button class="sBtn row2 col1 sq0" id="btn21" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36  sudoku63">
				<button class="sBtn row2 col2 sq0" id="btn22" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47  sudoku63">
				<button class="sBtn row2 col3 sq1" id="btn23" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku63">
				<button class="sBtn row2 col4 sq1" id="btn24" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36  sudoku63">
				<button class="sBtn row2 col5 sq1" id="btn25" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47  sudoku63">
				<button class="sBtn row2 col6 sq2" id="btn26" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku63">
				<button class="sBtn row2 col7 sq2" id="btn27" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku63">
				<button class="sBtn row2 col8 sq2" id="btn28" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell sudoku74">
				<button class="sBtn row3 col0 sq3" id="btn30" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku74">
				<button class="sBtn row3 col1 sq3" id="btn31" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36  sudoku74">
				<button class="sBtn row3 col2 sq3" id="btn32" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47  sudoku74">
				<button class="sBtn row3 col3 sq4" id="btn33" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku74">
				<button class="sBtn row3 col4 sq4" id="btn34" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36  sudoku74">
				<button class="sBtn row3 col5 sq4" id="btn35" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47  sudoku74">
				<button class="sBtn row3 col6 sq5" id="btn36" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku74">
				<button class="sBtn row3 col7 sq5" id="btn37" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku74">
				<button class="sBtn row3 col8 sq5" id="btn38" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell">
				<button class="sBtn row4 col0 sq3" id="btn40" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row4 col1 sq3" id="btn41" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row4 col2 sq3" id="btn42" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row4 col3 sq4" id="btn43" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row4 col4 sq4" id="btn44" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row4 col5 sq4" id="btn45" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row4 col6 sq5" id="btn46" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row4 col7 sq5" id="btn47" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row4 col8 sq5" id="btn48" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell sudoku63">
				<button class="sBtn row5 col0 sq3" id="btn50" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku63">
				<button class="sBtn row5 col1 sq3" id="btn51" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36  sudoku63">
				<button class="sBtn row5 col2 sq3" id="btn52" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47  sudoku63">
				<button class="sBtn row5 col3 sq4" id="btn53" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku63">
				<button class="sBtn row5 col4 sq4" id="btn54" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36  sudoku63">
				<button class="sBtn row5 col5 sq4" id="btn55" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47  sudoku63">
				<button class="sBtn row5 col6 sq5" id="btn56" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku63">
				<button class="sBtn row5 col7 sq5" id="btn57" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku63">
				<button class="sBtn row5 col8 sq5" id="btn58" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell sudoku74">
				<button class="sBtn row6 col0 sq6" id="btn60" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku74">
				<button class="sBtn row6 col1 sq6" id="btn61" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36  sudoku74">
				<button class="sBtn row6 col2 sq6" id="btn62" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47  sudoku74">
				<button class="sBtn row6 col3 sq7" id="btn63" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku74">
				<button class="sBtn row6 col4 sq7" id="btn64" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36  sudoku74">
				<button class="sBtn row6 col5 sq7" id="btn65" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47  sudoku74">
				<button class="sBtn row6 col6 sq8" id="btn66" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku74">
				<button class="sBtn row6 col7 sq8" id="btn67" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell  sudoku74">
				<button class="sBtn row6 col8 sq8" id="btn68" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell">
				<button class="sBtn row7 col0 sq6" id="btn70" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row7 col1 sq6" id="btn71" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row7 col2 sq6" id="btn72" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row7 col3 sq7" id="btn73" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row7 col4 sq7" id="btn74" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row7 col5 sq7" id="btn75" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row7 col6 sq8" id="btn76" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row7 col7 sq8" id="btn77" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row7 col8 sq8" id="btn78" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow">
			<div class="sudokuCell">
				<button class="sBtn row8 col0 sq6" id="btn80" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row8 col1 sq6" id="btn81" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row8 col2 sq6" id="btn82" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row8 col3 sq7" id="btn83" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row8 col4 sq7" id="btn84" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku36">
				<button class="sBtn row8 col5 sq7" id="btn85" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell sudoku47">
				<button class="sBtn row8 col6 sq8" id="btn86" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row8 col7 sq8" id="btn87" onclick="btnClick(this)">0</button>
			</div>
			<div class="sudokuCell">
				<button class="sBtn row8 col8 sq8" id="btn88" onclick="btnClick(this)">0</button>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
<h5 class="text-center" id="error" style="color: red;"></h5>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="sudokuRow" style="margin: 20px;">
			<button class="btn btn-primary text-center" id="sendAllButton" onclick="sendAllValues()"
			        style="margin: 15px;">Solve the puzzle
			</button>
			<button class="btn btn-success text-center" id="reset" onclick="clearAllValues()" style="margin: 15px;">
				Clear All / Start Again
			</button>
		</div>
	</div>
	<div class="col-2"></div>
</div>

{% endblock %}
