{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 45px;">
	<div class="row">
		<div class="col-md-3"></div>
		
		
		<div class="col-md-6">
			
			<br><br>
			<h3 class="text-center" style="color: white">Uploads</h3>
			<p style="color: white;">A simple file upload / download and delete functionality with flash messages.
				In this example I have only allowed png, jpg, jpeg and pdf extensions only.
				</p>
			<br><br>
			<a href="https://github.com/WayneBruton/flaskPersonal/" target="_blank" style="color: white; text-decoration: underline; color: yellow;">Source Code</a>
			<br><br>
			<form method="POST" enctype="multipart/form-data">
				<input class="text-bg-dark" type="file" name="file" id="fileInput" accept=".pdf, .png, .jpg, .jpeg"><br><br>
				<button type="submit" class="btn btn-primary text-bg-dark" id="submitButton" disabled>Upload</button>
			</form>
			<br><br>
			{% for filename in files %}
			<div class="card" >
				<div class="card-body" >
					<h5 class="card-title">{{ filename }}</h5>
					<div style="display:flex; justify-content: space-around;">
					
					<a href="{{ url_for('views.download', filename=filename) }}" class="btn btn-primary">Download</a>
					<a href="{{ url_for('views.delete', filename=filename) }}" class="btn btn-danger">Delete</a>
				</div>
			</div>
			<br><br>
			{% endfor %}
			
		
		
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}
```